-D_each_argument_must_be_in_a_separated_line
-D_comment_a_line_but_appending_underscore_after_minusD
-Dtycho.version=4.0.13
-D_AFTER_THIS_LINE_DEBUGGING_AND_DEVELOPMENT
-D_org.slf4j.simpleLogger.defaultLogLevel=debug
-D_maven.repo.local=.local_m2_cache
-D_org.eclipse.ecf.provider.filetransfer.excludeContributors=org.eclipse.ecf.provider.filetransfer.httpclient4
-D_smartbuilder.profiling=true