<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>github.com</id>
            <username>${env.git_username}</username>
            <password>${env.git_token}</password>
        </server>
        <server>
            <id>maven-releases</id>
            <username>${env.artifactory_username}</username>
            <password>${env.artifactory_token}</password>
        </server>
        <server>
            <id>maven-snapshots</id>
            <username>${env.artifactory_username}</username>
            <password>${env.artifactory_token}</password>
        </server>
    </servers>

    <profiles>
        <!-- do not deploy connector pom.xml files -->
        <profile>
            <id>skip-deploy-connector-pom</id>
            <activation>
                <file>
                    <exists>.polyglot.pom.tycho</exists>
                </file>
            </activation>
            <properties>
                <maven.deploy.skip>true</maven.deploy.skip>
            </properties>
        </profile>

        <!-- do not parent -->
        <profile>
            <id>skip-deploy-parent</id>
            <activation>
                <file>
                    <exists>.gitattributes</exists>
                </file>
            </activation>
            <properties>
                <maven.deploy.skip>true</maven.deploy.skip>
            </properties>
        </profile>

        <!-- do not deploy features -->
        <profile>
            <id>skip-deploy-eclipse-feature</id>
            <activation>
                <file>
                    <exists>feature.xml</exists>
                </file>
            </activation>
            <properties>
                <maven.deploy.skip>true</maven.deploy.skip>
            </properties>
        </profile>

        <!-- do not deploy products -->
        <profile>
            <id>skip-deploy-products</id>
            <activation>
                <file>
                    <exists>example.rcp.app.ui.feature.product</exists>
                </file>
            </activation>
            <properties>
                <maven.deploy.skip>true</maven.deploy.skip>
            </properties>
        </profile>

        <!-- do not deploy *.target definitions -->
        <profile>
            <id>skip-deploy-eclipse-target</id>
            <activation>
                <file>
                    <exists>target-platform.target</exists>
                </file>
            </activation>
            <properties>
                <maven.deploy.skip>true</maven.deploy.skip>
            </properties>
        </profile>

        <!-- do not deploy test bundles -->
        <profile>
            <id>skip-deploy-eclipse-test</id>
            <activation>
                <file>
                    <exists>no_deploy.txt</exists>
                </file>
            </activation>
            <properties>
                <maven.deploy.skip>true</maven.deploy.skip>
            </properties>
        </profile>

        <!-- do not deploy update sites -->
        <profile>
            <id>skip-deploy-eclipse-updatesite</id>
            <activation>
                <file>
                    <exists>category.xml</exists>
                </file>
            </activation>
            <properties>
                <maven.deploy.skip>true</maven.deploy.skip>
            </properties>
        </profile>

        <profile>
            <id>artifactory-plugin-properties</id>
            <properties>
                <contextUrl>${env.artifactory_url}</contextUrl>
                <username>${env.artifactory_username}</username>
                <token>${env.artifactory_token}</token>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>artifactory-plugin-properties</activeProfile>
    </activeProfiles>
    <proxies>
        <proxy>
            <id>proxy_http</id>
            <active>${env.proxy_mvn_activate}</active>
            <protocol>http</protocol>
            <host>${env.proxyHost}</host>
            <!-- hardcoded value instead of ${env.proxyPort} due to bug -
            https://issues.apache.org/jira/browse/MNG-6401 -->
            <port>3128</port>
            <nonProxyHosts>localhost|127.0.0.1</nonProxyHosts>
        </proxy>
        <proxy>
            <id>Mproxy_https</id>
            <active>${env.proxy_mvn_activate}</active>
            <protocol>https</protocol>
            <host>${env.proxyHost}</host>
            <!-- hardcoded value instead of ${env.proxyPort} due to bug -
            https://issues.apache.org/jira/browse/MNG-6401 -->
            <port>3128</port>
            <nonProxyHosts>localhost|127.0.0.1</nonProxyHosts>
        </proxy>
    </proxies>
</settings>