<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Example RCP Platform Target" sequenceNumber="114">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository id="R-4.26-202211231800" location="https://download.eclipse.org/eclipse/updates/4.26/R-4.26-202211231800/"/>
			<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.3.100.v20221116-1440"/>
			<unit id="org.eclipse.e4.ui.progress" version="0.3.600.v20221024-2137"/>
			<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.6.1.v20211005-1944"/>
			<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.501.v20210409-2301"/>
			<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1800.v20220215-0126"/>
			<unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="1.1.701.v20221112-0806"/>
			<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.401.v20210409-2301"/>
			<unit id="org.eclipse.emf.common.feature.group" version="2.28.0.v20221121-1400"/>
			<unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.9.0.v20210924-1718"/>
			<unit id="org.eclipse.emf.databinding.feature.group" version="1.9.0.v20220517-0824"/>
			<unit id="org.eclipse.emf.ecore.feature.group" version="2.30.0.v20221121-1400"/>
			<unit id="org.eclipse.emf.edit.feature.group" version="2.18.0.v20220201-1551"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.1900.v20221108-1024"/>
			<unit id="org.eclipse.rcp.feature.group" version="4.26.0.v20221123-2302"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>